:root {
  --cookie-notice-checkbox-color: #333;
  --cookie-notice-button-color: #bebdbd;
  --cookie-notice-button-color-hover: #aaa;
  --cookie-notice-border-button-color: #aaa;
}

.has-cookie-consent {
  overflow: hidden;
}

.cookie-consent {
  position: fixed;
  z-index: 100000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 0.75em;
  background-color: hsla(240, 6.4%, 21.4%, 0.62) !important;
  zoom: 150%;
  background-color: #333;
  font-size: 1em;
  line-height: 1.6;
  color: #fff;

  @media screen and (max-width: 990px) {
    font-size: 0.825em;
  }

  h1 {
    margin-top: 0.3em;
  }

  .options {
    display: flex;
    justify-content: space-around;
    margin: 2em 0;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  .form-item {
    text-align: left;

    @media screen and (max-width: 990px) {
      margin-bottom: 1.2em;
    }
  }

  small {
    margin-left: 2.7em;

    @media screen and (max-width: 990px) {
      margin-left: 2.325em;
    }
  }

  .form-actions {
    text-align: right;
  }

  .form-item:last-of-type {
    background-clip: text;
    -webkit-≤text-fill-color: transparent;
  }

  .btn.btn {
    @media screen and (max-width: 990px) {
      padding-top: 0.8em;
      padding-right: calc(2em - 0.2em);
      padding-bottom: calc(0.8em - 3px);
      padding-left: 2em;
      font-size: 0.75em;
    }
  }

  .button--primary.button--primary,
  .btn--primary.btn--primary {
    border-bottom: 3px solid var(--cookie-notice-border-button-color);
    color: #fff;
    background-color: var(--cookie-notice-button-color);
    background-image: linear-gradient(to bottom, var(--cookie-notice-button-color) 50%, var(--cookie-notice-button-color-hover) 50%);

    @media screen and (max-width: 550px) {
      width: 100%;
    }
  }

  .btn--link,
  .button--link {
    display: inline-block;
    padding: 0;
    border: 0;
    margin-right: 8px;
    margin-bottom: 8px;
    font-size: 11px;
    background: none;
    color: #666;
    text-decoration: underline;
    text-align: center;

    @media screen and (max-width: 990px) {
      font-size: 80%;
    }

    @media screen and (max-width: 550px) {
      width: 100%;
      margin-right: 0;
    }
  }

  &[hidden] {
    display: none;
  }

  a {
    &,
    &:hover,
    &:focus {
      color: currentColor;
      text-decoration: underline;
    }

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}

.cookie-consent__body {
  padding: 1em 2em;
  background-color: white;
  color: #666;
}

.cookie-consent__icon {
  display: block;
  width: 19px;
  height: 19px;
  fill: #8f8f8f;
}

.cookie-consent__close {
  padding: 5px 10px;
  margin-left: 1em;

  &:hover,
  &:focus,
  &:active {
    .cookie-consent__icon {
      fill: #fff;
    }
  }
}

/* Custom checkboxes */
input[type="checkbox"] {
  position: relative;
  padding: 0;
  margin-right: 10px;
  cursor: pointer;

  &:before {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #aaa;
    border-radius: 2px;
    margin-top: 0;
    margin-right: 10px;
    content: '';
    background: #fcfcfc;
  }

  &:hover:before {
    background: var(--cookie-notice-checkbox-color);
  }

  &:checked:before {
    background: var(--cookie-notice-checkbox-color);
  }

  &:checked:after {
    position: absolute;
    top: 8px;
    left: 4px;
    width: 2px;
    height: 2px;
    content: '';
    background: white;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
  }

  &:disabled {
    color: #b8b8b8;
    cursor: auto;

    &:before {
      box-shadow: none;
      background: #ddd;
    }
  }
}
