.has-cookie-notice {
  overflow: hidden;
}

.cookie-notice {
  top: 0;
  background-color: hsla(202, 100%, 30%, 0.92) !important;
  zoom: 150%;
  position: fixed;
  z-index: 100000;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 0.75em;
  background-color: #333;
  font-size: 14px;
  line-height: 1.6;
  color: #fff;

  h1 {
    margin-top: 0.3em;
  }

  .options {
    text-align: center;
    margin: 2em 0;
  }
  .form-item {
    display: inline-block;
    text-align: left;
    margin: 0 2em;
  }
  small {
    margin-left: 1.5em;
  }
  .form-actions {
    text-align: right;
  }
  .form-item:last {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .button:not(.button--primary),
  .btn:not(.button--primary) {
    background-color: transparent;
    text-transform: none;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: underline;
  }
  .button--primary,
  .btn--primary {
    color: #fff;
  }

  &[hidden] {
    display: none;
  }

  a {
    &,
    &:hover,
    &:focus {
      color: currentColor;
      text-decoration: underline;
    }

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}

.cookie-notice__body {
  background-color: white;
  padding: 1em 2em;
  color: #666;
}

.cookie-notice__icon {
  display: block;
  width: 19px;
  height: 19px;
  fill: #8f8f8f;
}

.cookie-notice__close {
  margin-left: 1em;
  padding: 5px 10px;

  &:hover,
  &:focus,
  &:active {
    .cookie-notice__icon {
      fill: #fff;
    }
  }
}
