:root {
  --cookie-notice-font-size: 15px;
  --cookie-notice-line-height: 1.6;
  --cookie-notice-color: #666;

  --cookie-notice-link-color: inherit;

  --cookie-notice-checkbox-color: #76b320;

  --cookie-notice-button-padding: 1em 3em;
  --cookie-notice-button-border-width: 0;
  --cookie-notice-button-border-color: transparent;
  --cookie-notice-button-color: inherit;
  --cookie-notice-button-font-size: 0.85em;
  --cookie-notice-button-font-weight: inherit;
  --cookie-notice-button-color-hover: #aaa;

  --cookie-notice-button-primary-background: #76b320;
  --cookie-notice-button-primary-background-hover: #689d1c;
  --cookie-notice-button-primary-color: #fff;

  --cookie-notice-button-link-color: inherit;
  --cookie-notice-button-link-color-hover: imherit;
}

.has-cookie-consent {
  overflow: hidden;
}

.cookie-consent {
  position: fixed;
  z-index: 100000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0.5em 0.75em;
  background-color: #333;
  background-color: hsla(240, 6.4%, 21.4%, 0.62);
  font-size: 15px;
  font-size: var(--cookie-notice-font-size);
  line-height: 1.6;
  line-height: var(--cookie-notice-line-height);
  color: #666;
  color: var(--cookie-notice-color);

  &[hidden] {
    display: none;
  }

  * {
    box-sizing: inherit;
  }

  a {
    color: var(--cookie-notice-link-color);

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}

.cookie-consent-body {
  width: 100%;
  max-width: 768px;
  padding: 1.25em 1.75em;
  background-color: #fff;

  // Reduce all text sizes on mobile devices.
  @media screen and (max-width: 768px) {
    font-size: 0.9em;
  }
}

.cookie-consent-title {
  margin-top: 0.3em;
  font-size: 1.5em;
  font-weight: 700;

  @media screen and (min-width: 768px) {
    font-size: 1.875em;
  }
}

.cookie-consent-text {
  margin: 1em 0;
}

.cookie-consent-options {
  display: flex;
  justify-content: space-between;
  margin: 1.5em 0 0;

  @media screen and (max-width: 599px) {
    flex-direction: column;
  }

  @media screen and (min-width: 600px) {
    margin: 1.5em 0 1em;
  }
}

.cookie-consent-actions {
  text-align: right;
}

// Custom checkboxes.
.cookie-consent-option {
  position: relative;
  display: inline-block;
  margin-bottom: 1em;

  &:not(:last-child) {
    margin-right: 2em;
  }

  // On desktop, push last item away from right-hand side.
  // Helps better align with surrounding content.
  @media screen and (min-width: 768px) {
    &:last-child {
      margin-right: 3em;
    }
  }
}

.cookie-consent-option__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.cookie-consent-option__label {
  position: relative;
  display: block;
  padding-left: 35px; // Checkbox icon plus spacing.
  font-weight: 400;
  line-height: 1.75;
  cursor: pointer;

  & + .cookie-consent-option__label:before {
    position: absolute;
    top: 3px;
    left: 0;
    display: inline-block;
    box-sizing: border-box;
    width: 22px;
    height: 22px;
    padding: 2px;
    border: 2px solid var(--cookie-notice-checkbox-color);
    margin-top: -0.083em;
    line-height: 14px;
    background: #fff;
    content: ' ';
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    color: #555;
    font-size: 20px;
  }

  &:checked {

    & + .cookie-consent-option__label {
      font-weight: normal;

      &:before {
        padding: 2px;
        content: '\2713';
        color: var(--cookie-notice-checkbox-color);
      }
    }

    &:disabled + .cookie-consent-option__label:before {
      border: 2px solid currentColor;
      color: #aaa;
    }
  }
}

// 'Accept' and 'Accept all' buttons.
.cookie-consent-button {
  display: inline-block;
  box-sizing: border-box;
  padding: var(--cookie-notice-button-padding);
  border-width: var(--cookie-notice-button-border-width);
  border-style: solid;
  border-color: var(--cookie-notice-button-border-color);
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  background: var(--cookie-notice-button-background);
  font: inherit;
  font-size: var(--cookie-notice-button-font-size);
  font-weight: var(--cookie-notice-button-font-weight);
  color: var(--cookie-notice-button-color);
  text-decoration: none;

  // Stretch and stack buttons on mobile devices.
  @media screen and (max-width: 599px) {
    width: 100%;
  }
}

.cookie-consent-button--primary {
  background: var(--cookie-notice-button-primary-background);
  font-weight: 700;
  color: var(--cookie-notice-button-primary-color);
  text-transform: uppercase;

  &:hover,
  &:focus {
    background: var(--cookie-notice-button-primary-background-hover);
  }
}

.cookie-consent-button--link {
  padding-right: 1em;
  padding-left: 1em;
  color: var(--cookie-notice-button-link-color);

  &:hover,
  &:focus {
    color: var(--cookie-notice-button-link-color-hover);
    text-decoration: underline;
  }
}
